/*
put all colors used here
body: #242321
color: #A7502C
color: #D6B173
color:
color:
*/

body {
  background: #D6B173;
  border: #242321 solid 20px;
  margin: 0px;
  position: relative;
  height: 900px;
}

header h1 {
  display: inline;
  font-size: 2.5em;
  padding-left: 30px;
}

img {
  width: 30%;
}

header {
  background: #A7502C;
  padding: 20px;
  border-radius: 50%;
  display: block;
  height: 20%;
}

nav {
  width: 30%;
  float: right;
  margin-top: 30px;
  border:
}

nav li {
  list-style: none;
  font-size: 1.5em;
  padding: 10px;
}

nav li:hover {
  font-weight: bold;
  font-size: 1.5em;
}

nav li a {
  text-decoration: none;
  color: black;
}

aside {
  position: absolute;
  top: 30%;
  left: 0;
  bottom: 20%;
  float: left;
  width: 20%;
  padding: 20px;
  border: #242321 solid 10px;
  margin: 20px;
  clear: both;
}

.info {
  position: absolute;
  left: 30%;
  display: inline;
}

.info li {
  padding: 5px;
  list-style: none;
}

.merchandise {
  float: right;
  text-align: left;
}
figure {
  display: block;
}
.newStoreDiv {
  display: inline;
}

#storelist {
  position: relative;
}

.table-div, form, #storelist {
  background: #D6B173;
  width: 100%;
}

table {
  padding: 10px;
  width: 100%;
}

fieldset {
  border: 0px;
}

legend {
  font-size: 2em;
}

form {
  border-bottom: #242321 dotted 3px;
}

form li {
  list-style-type: none;
}

td {
  border: black solid 2px;
}

input {
  margin: 5px;
}

.new-store-label {
  margin-right: 20px;
  width: 200px;
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #A7502C;
  height: 20%;
  width: 100%;
  border-top: #242321 solid 5px;
}

#footerimage {
  height: 100%;
  width: auto;
}
