/*
put all colors used here
body: #asdf
color:
color:
color:
color:
*/

body {
  background: #242321;
  border: #242321 solid 8px;
}

header h1 {
  display: inline;
  font-size: ;
}

img {
  width: 20%;
}

header {
  background: #A7502C;
  padding: 20px;
  border-radius: 30%;
  display: block;
}

.table-div, form {
  background: #D6B173;
  width: 100%;
}

table {
  padding: 10px;
  max-width: 800px;
}

fieldset {
  border: 0px;
}

legend {
  font-size: 2em;
}

form {
  border-bottom: #242321 dotted 3px;
}

form li {
  list-style-type: none;

}
td {
  border: black solid 2px;
}
input {
  margin: 5px;
}
.new-store-label {
  margin-right: 20px;
  width: 200px;
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
}
