/*
put all colors used here
body: #242321
color: #A7502C
color: #D6B173
color:
color:
*/

body {
  background: #D6B173;
  border: #242321 solid 20px;
  margin: 0px;
  height: inherit;
}

header h1 {
  display: inline;
  font-size: 3em;
}

img {
  width: 20%;
}

header {
  background: #A7502C;
  padding: 20px;
  border-radius: 30%;
  display: block;
}

nav {
  width: 30%;
  display: inline;
  float: right;
  margin-top: 30px;
}

nav li {
  list-style: none;
  font-size: 1.5em;
  display: inline;
  padding: 10px
}

nav li:hover {
  font-weight: bold;
  font-size: 1.5em;
}

nav li a {
  text-decoration: none;
  color: black;
}

aside {
  position: relative;
  float: left;
  width: 30%;
}

.newStoreDiv {
  display: inline;
}

#storelist {
  position: relative;
}

.table-div, form, #storelist {
  background: #D6B173;
  width: 100%;
}

table {
  padding: 10px;
  width: 100%;
}

fieldset {
  border: 0px;
}

legend {
  font-size: 2em;
}

form {
  border-bottom: #242321 dotted 3px;
}

form li {
  list-style-type: none;
}

td {
  border: black solid 2px;
}

input {
  margin: 5px;
}

.new-store-label {
  margin-right: 20px;
  width: 200px;
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
}
